h1.contact {
    font-size: 60px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 450px;
    margin: 30px auto 30px auto;
}

section {
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    padding: 40px;
    margin: 30px auto 30px auto;
    background-color: #c0d1cc;
    height: 600px;
}

section div.info {
    position: relative;
    bottom: 530px;
    left: 800px;
}

section div.info h2.field {
    color: #989c9b;
}

section div.info h2.field {
    color: #737373;
}