{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'catalog/css/index.css' %}">
{% endblock %}
{% block title %} Главная {% endblock %}
{% block content %}
    <section class="soon">
        <h1>Скоро в продаже</h1>
        <img src="{% static 'catalog/images/soon.jpg' %}" height="400">
    </section>
    <section class="description">
        <h1>Мы выгодно отличаемся от конкурентов по продаже машин с пробегом:</h1>
        <ul>
            <li>Более 30 автомобилей в наличии</li>
            <li>Возможность обменять ваш автомобиль с пробегом на любой из наличия</li>
            <li>Проверенное техническое состояние и качественная предпродажная подготовка автомобилей с пробегом</li>
            <li>Юридическая проверка всех автомобилей, имеющихся в продаже</li>
            <li>Прозрачная история владения автомобилем с пробегом</li>
            <li>При выборе автомобиля Вы получите полную информацию о его техническом состоянии, состоянии кузова.</li>
            <li>Индивидуальный подход к каждому клиенту, заинтересованному в покупке автомобиля</li>
            <li>Квалифицированные персональные менеджеры по продаже автомобилей с пробегом</li>
            <li>Широкий спектр дополнительных услуг</li>
            <li>Всегда выгодные предложения</li>
        </ul>
    </section>

{% endblock %}
